.card-container {
  display: grid;
  grid-auto-rows: 360px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 15px;
  justify-content: center;
}

@media (width <= 600px) and (width >= 500px) {
  .card-container {
    gap: 100px;
  }
}