li {
  list-style: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(25, 38, 82), rgb(0, 60, 255));
  gap: 10px;
  box-shadow: 0px 0px 20px 0px rgb(5, 36, 13);
  text-shadow: 0px 0px 8px black;
  transition: transform 0.1s, box-shadow 0.1s;
  min-height: 100%
}

img {
  /* image takes up available space and will scale with card */
  width: 100%;
  height: 75%;
  border-radius: 10px;
}

.card-hover-container:hover > li {
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px 0px rgb(238, 255, 0);
}
