.memory-game {
  color: white;
  text-shadow: 0px 0px 8px green;
  padding: 20px;
}

.memory-game {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

dialog {
  border: none;
  background: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  transform: translateY(-1000px);
  opacity: 0%;
  transition: transform 2s, opacity 1.5s;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.modal-content.open {
  transform: translateY(0px);
  opacity: 100%;
}

.modal-close {
  padding: 30px;
  font-size: 3rem;
  border-radius: 10px;
  background-color: #4c51f7;
  text-shadow: 0px 2px 3px black;
  color: white;
  transition: color 2s, background-color 2s;
}

.modal-close:hover {
  background-color: blue;
  color: yellow;
}
